@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

.mochiy-pop-one-regular {
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: yellow;
}

.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1e21;
    height: 100vb;
}

.center-form h1 {
    margin-bottom: 20px;
    font-size: 30px; /* 제목의 폰트 크기를 조정 */
}

.center-form Form {
    position:relative;
    top: auto;
    max-width: 70%; /* 폼의 최대 너비 설정 */
    min-height: 50%;
    min-width: 400px;
    padding: 5px;
    text-align: center;
}

.center-form Form .form-control {
    margin-bottom: 10px;
    padding: 5px;
}

.center-form Form .btn-request {
    background-color: yellow !important; /* 변경된 버튼 배경색: yellow */
    color: black; /* 버튼 텍스트 색상 변경 */
    border-color: yellow; /* 버튼 테두리 색상 변경 */
    width: 100%; /* 버튼의 너비를 100%로 설정하여 모바일 화면에 적합하게 만듦 */
}

@media screen and (min-width: 600px) {
    .center-form Form {
        width: 100vh;
    }
}